*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

    & > h3.subtitle {
        font-size: 2rem;
    }

    & > h1.title {
        font-size: 5rem;
        margin-bottom:2rem;
    }

    & > p.description {
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }

    & > nav {
        display: flex;
        gap: 1rem;

        & > a {
            border: white 4px double;
            border-radius: 20px;
            padding: .7rem 1.5rem;
            text-decoration: none;
            color: white;
            font-weight: 800;
        }
    }
}