@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-family: "Merriweather", serif;
}

/* Dev */
.pokemon,
.pokemon * {
    /* outline: 1px dashed red; */
}

.content,
.content * {
    /* outline: 3px dotted gold; */
}

/* Dep */
body {
    background: linear-gradient(50deg,  #5269AD 0%, #9900ff 100%);
    background: -moz-linear-gradient(50deg,  #5269AD 0%, #9900ff 100%);
    background: -webkit-linear-gradient(50deg,  #5269AD 0%, #9900ff 100%);;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 5vw;
    background: linear-gradient(-8deg,  #ffffff00 0%, #ffffff00 26%, #4900a8 26%, #4900a8 100%);
    background: -moz-linear-gradient(-8deg,  #ffffff00 0%, #ffffff00 26%, #4900a8 26%, #4900a8 100%);
    background: -webkit-linear-gradient(-8deg,  #ffffff00 0%, #ffffff00 26%, #4900a8 26%, #4900a8 100%);

    & > .pokemon {
        width: 40%;
        border-right: 2px rgb(76, 92, 184) solid;
        height: 100vh;
        display: flex;
        align-items: center;

        & img {
            width: 100%;
            height: 600px;
            object-fit: cover;
        }
    }

    & > .content {
        width: 70%;
        padding: 2rem 7rem;
        display: flex;
        flex-direction: column;

        & > h3.subtitle {
            font-size: 2rem;
            font-weight: 100;
            letter-spacing: 1rem;
            margin-bottom: 1rem;
        }

        & > h1.title {
            font-size: 5rem;
            margin-bottom:2rem;
        }

        & > p.description {
            font-size: 1.2rem;
            margin-bottom: 3rem;
        }

        & > nav {
            display: flex;
            gap: 1rem;

            &:hover > :not(:hover) {
                opacity: 0.6;
            }

            & > a {
                border: rgba(255, 255, 255, 0.534) 1px solid;
                border-radius: 25px;
                padding: .7rem 1.5rem;
                text-decoration: none;
                color: white;
                font-weight: 500;
                transition: all .2s ease;

                &:hover {
                    transform: translate(-.3rem, -.3rem);
                    filter: drop-shadow(.3rem .3rem white)
                }

                &.ghost {
                    background: linear-gradient(-8deg,  #7b87aa 0%, #5269AD 100%);
                    background: -moz-linear-gradient(-8deg,#7b87aa 0%, #5269AD 100%);
                    background: -webkit-linear-gradient(-8deg, #7b87aa 0%, #5269AD 100%);
                    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9900FF", endColorstr="#D89DFF", GradientType=1 );
                }

                &.poison {
                    background: linear-gradient(-8deg,  #9900ff 0%, #d89eff 100%);
                    background: -moz-linear-gradient(-8deg,#9900ff 0%, #d89eff 100%);
                    background: -webkit-linear-gradient(-8deg, #9900ff 0%, #d89eff 100%);
                    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9900FF", endColorstr="#D89DFF", GradientType=1 );
                }
            }
        }
    }

}